{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}

{% block body %}

<div class="row">
  <div class="col md-2 lg-2"></div>
  <div class="col md-8 lg-8">
    <text> Hello we are on ultitrack, the creators of Borkbook! </text><br>
    <text> Also known as Team onUltimateTrack! </text><br>
    <text> The members on the team are Thomas Zhao, Xiaojie (Aaron) Li, Stefan Tan, and last but not least Johnny Wong. </text><br>
    <text> Unfortunately, Thomas and Stefan are camera shy but you can see Aaron and Johnny down below! </text><br><br>
    <text>round head is aaron</text><br>
    <img src="/static/aaronli.jpg"><br>
    <text> open mouth is johnny</text>
    <img src="/static/johnnywong.png">

  </div>
  <div class="col md-2 lg-2"></div>
</div>

{% endblock %}
