{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}

{% block body %}
<div class="container-fluid bg-light mt-0">
    <div class="container">
        <div class="row">
            <h1> {{username}}'s Profile </h1>
        </div>

        <div class="row">
            <div class="col md-6">
                <div class="row">
                    <h3>Name: {{name}} </h3>
                </div>
                <div class="row">
                    <h3> Age: {{age}} </h3>
                </div>
                <div class="row">
                    <h3> Height: {{height}} </h3>
                </div>
                <div class="row">
                    <h3> Weight: {{weight}} </h3>
                </div>
                <div class="row">
                    <h3> Jersey Number: {{jersey}} </h3>
                </div>
            </div>

            <div class="col md-6">
                {% if isownacc == "yes" %}
                <div class="col md-6>"
                    <div class="card m-1">
                        <div class="card-header" id="editName" data-toggle="collapse" data-target="#accountForm"
                            aria-expanded="true" aria-controls="accountForm">
                            <text>Edit Account Information</text>
                        </div>
                        <div id="accountForm" class="collapse" aria-labelledby="editName">
                            <div class="card-body">
                                <form action="/update_account_info" method="POST">
                                    <div class="form-group">
                                        <label for="newname">Updated Name</label>
                                        <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                                            placeholder="Enter new name" value={{name}} name="newname" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="newage">Updated Age</label>
                                        <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                                            placeholder="Enter new age" value={{age}} name="newage" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="newheight">Updated Height</label>
                                        <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                                            placeholder="Enter new height" value={{height}} name="newheight" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="newweight">Updated Weight</label>
                                        <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                                            placeholder="Enter new weight" value={{weight}} name="newweight" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="newjersey">Updated Jersey Number</label>
                                        <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                                            placeholder="Enter new jersey number" value={{jersey}} name="newjersey" required>
                                    </div>

                                    <div class="row">
                                        <div class="col text-center">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


      {% endif %}

    </div> <!-- closes container -->


    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{url_for('static', filename='play.js')}}"></script>
</div>
{% endblock %}
