{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}
<!--
<link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
-->
{% block body %}
<div class="container-fluid bg-light mt-0">
    <div class="container">
      <div class="row">
        <input class=id="playname" type="text" name="playname" placeholder="Name of play"></input>
       <!-- Pls fix aaron-->
      </div>
      <input id="id" type="hidden" name="team" value={{teamID}}>
      <div id="sketch"></div>

      <div id="output"></div>
      <button class="btn text-warning" id="submit">Submit Play</button>

    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{url_for('static', filename='play.js')}}"></script>
</div>
{% endblock %}
