{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}
<!--
<link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
-->
{% block body %}
<div class="container-fluid bg-light mt-0">
    <div class="container">
        <form action="/writePlay">
            <input type="text" name="playname" placeholder="Name of play"></input> <br>
            <input type="hidden" name="team" value={{teamID}}>
            <input type="submit"></input>
            <div id="sketch"></div>
            <div id="output"></div>
        </form>

    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{url_for('static', filename='play.js')}}"></script>
</div>
{% endblock %}
