{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}

{% block body %}

<div class="container-fluid bg-light mt-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3 text-primary"> welcome {{username}} </h1>
            </div>
        </div>
        <hr>
        <div class="row mt-1">
            <div class="col">
                <h1>Teams you're on</h1>
            </div>
        </div>
        <hr>
        <div class="row mt-1">
            <div class="col">
                <h1>Teams you're coaching</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
