{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}

{% block body %}

<div class="container-fluid bg-light mt-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3 text-primary"> Welcome {{username}} </h1>
            </div>
        </div>
        <hr>
        <div class="row mt-2 ml-4">
            <div class="col mt-4">
                <h1>Teams You're On</h1>
            </div>
        </div>

        {% if teams|length == 0 %}
        <p class="mt-2 mr-5 ml-5 mb-5" style="color: red;">You aren't in any teams. Go join one!</p>
        {% else %}
        {% for i in range((teams|length // 4) + 1) %}
        <!-- {{ i }} -->
        <!-- Row stuff -->
        <div class="row mt-3 ml-2 mr-2">
            {% for j in teams[i * 4: i * 4 + 4] %}
            <div class="col-md-3">
                <!-- {{ j[0] }} -->
                <a href="{{'/team?team=' ~ [j][0][0] }}" style="text-decoration: none;">
                    <div class="card ml-1 mr-1">
                        <div class="card-body">
                            <h4 class="card-title" style="color: black; text-decoration: underline;">{{ [j][0][0] }}
                            </h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ [j][0][2] }}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% endif %}
        <hr>
        <div class="row mt-1 ml-3 mr-3">
            <div class="col">
                <h1>Teams you're managing</h1>

            </div>
        </div>
        <div id="accordion" class="mb-4">
            <div class="card m-3">
                <div class="card-header" id="createTeam" data-toggle="collapse" data-target="#createTeamForm"
                    aria-expanded="true" aria-controls="createTeamForm">
                    <h5 class="text-center">
                        Create a Team
                    </h5>
                </div>
                <div id="createTeamForm" class="collapse" aria-labelledby="createTeam">
                    <div class="card-body">
                        <form action="/create_team" method="POST">
                            <div class="form-group">
                                <label for="teamname">Team Name</label>
                                <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                                    placeholder="Enter team name" name="teamname" required>
                            </div>
                            <div class="form-group">
                                <label for="sport">Sport</label>
                                <select class="form-control" id="sport" name="sport">
                                    <!--Use a for loop with jinja to create selection list LATER-->
                                    <option>Basketball</option>
                                    <option>Ultimate Frisbee</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="accordion" class="mb-4">
            <div class="card m-3">
                <div class="card-header" id="teamJoin" data-toggle="collapse" data-target="#teamJoinForm"
                    aria-expanded="true" aria-controls="teamJoinForm">
                    <h5 class="text-center">
                        Join a Team
                    </h5>
                </div>
                <div id="teamJoinForm" class="collapse" aria-labelledby="teamJoin">
                    <div class="card-body">
                        <form action="/jointeam" method="POST">
                            <div class="form-group">
                                <label for="joincode">Invite Code</label>
                                <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                                    placeholder="Enter invite code" name="joincode" required>
                            </div>

                            <div class="row">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}