{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/login.css" type="text/css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col text-center">
            {% set msgs = get_flashed_messages() %}
            {% for msg in msgs %}
            <div class="alert alert-primary" role="alert">
                {{ msg }}
            </div>
            {% endfor %}
            <h1 class="display-3 mb-2 mt-1">Welcome!</h1>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col">
            <form action="/auth" method="POST">
                <div class="form-group">
                    <label for="user">Username</label>
                    <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                        placeholder="Enter username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="pass" placeholder="Password" name="password"
                        required>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="/register"><button type="button" class="btn btn-secondary">Register</button></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


{% endblock %}
