{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}
<!--
<link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
-->
{% block body %}
<div class="container-fluid bg-light mt-0">
    <div class="container">
        <div class="row row justify-content-center">
          <svg id="sketch" class="border border-dark" width="100%" height="600px">

          </svg>
        </div>
    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
</div>
{% endblock %}
