{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}

{% block body %}

<div class="container-fluid bg-light mt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col">
                <a href="{{'/teamplays?team=' ~ teamID}}"><button class="btn btn-primary">View Team Plays</button></a>
            </div>
            <div class="col">
                <a href="{{'/createplay?team=' ~ teamID}}"><button class="btn btn-primary">Create a Play</button></a>
            </div>
        </div>
        <div class="row">
          <h2>Roster</h2>
        </div>

        {% for player in roster %}
        <div class="row">
          <a href="{{'/viewing_account?username=' ~ player[0]}}"><button class="btn btn-primary">{{player[1]}}<br>{{player[0]}}</button></a>
        </div>
        {% endfor %}

    </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{url_for('static', filename='play.js')}}"></script>
</div>
{% endblock %}
