{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}
<!--
<link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
-->
{% block body %}
<div class="container-fluid mt-0">
    <div class="container">

        <div class="row">
            <a href="/team?team={{teamID}}"><button type="button" class="btn btn-secondary">Back</button></a>
        </div>

        <div class="row justify-content-center">
          <h1> Plays for {{teamname}}</h1>
        </div>

        <div class="row mt-2">
            <div class="col pl-0 pr-0">
                <table class="table table-striped pl-0 pr-0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Play</th>
                            <th scope="col">Author</th>
                            {% if currentUser == teamAdmin %}
                            <th scope="col"><th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for play in plays %}
                        <tr>
                            <th scope="row">
                              <a href="{{'/play?team=' ~ teamID ~ '&playid=' ~ play[5] ~ '&play=' ~ play[1] }}" style="text-decoration:none">
                                {{ play[1]}}
                              </a>
                            </th>
                            <td>{{ play[0] }}</td>
                            {% if currentUser == teamAdmin %}
                            <td>
                              <form action="/removePlay">
                                  <input type="hidden" name="playid" value="{{play[5]}}">
                                  <input type="hidden" name="teamID" value="{{ teamID }}">
                                  <input type="submit" name="submit" value="Remove"></input>
                              </form>
                            <td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{url_for('static', filename='play.js')}}"></script>
</div>
{% endblock %}
