{% extends "base.html" %}
{% block title %} Borkbook | Pocket Playbook {% endblock %}
<!--
<link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
-->
{% block body %}
<div class="container-fluid bg-light mt-0">
    <div class="container">

        <div class="row">
          <h1> Plays for {{teamname}}</h1>
        </div>

        <div class="row">
          {% for play in plays %}
          <div class="col md">
            <a class="btn" href="{{'/play?team=' ~ teamID ~ '&play=' ~ play[5]}}">{{play[1]}}, by {{play[0]}}</a>
          </div>
          {% endfor %}
        </div>

    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{url_for('static', filename='play.js')}}"></script>
</div>
{% endblock %}
