{% extends "base.html" %}
{% block title %} Pocket Playbook {% endblock %}

{% block body %}

{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
<text>{{msg}}</text>
{% endfor %}

<body>
    <form action="/auth" method="POST">
        Username: <input name="username" type="text">
        Password: <input name="password" type="password">
        Confirm Password: <input name="confirmpassword" type="password">
        <input type="submit">
    </form>
</body>
</html>

{% endblock %}
